.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C56C39;
    position:sticky;
    width: 100%;
    top: 0;
    z-index: 1000;

     }
.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;

    }
.navbar ul li{
    float:left;
    }

.navbar ul li a:hover {
    background-color:#3c1d0c;
    }

body {
    margin:0px;
    font-family: Arial; /* Arial default with backup fonts */
    font-size: 14px;                         /* Default Text size */
    background-color: #294F4F;
    color:white;
}

.center img
{
    width:800px;
    height:600px;
    display:flex;
    object-fit: cover;
    margin-left:auto;
    margin-right:auto;
}